@import "@/assets/scss/base/typeface";
@import "@/assets/scss/base/reset";
@import "@/assets/scss/base/font";
@import "@/assets/scss/base/page-transition";

.roboto {
    font-family: "Roboto Mono", monospace;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
}

.tusker {
    font-family: "Tusker";
}

.source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
}

.absolute-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
}
