@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url("~/assets/fonts/ProximaNova-Regular.otf")
        format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 500;
    src: url("~/assets/fonts/ProximaNova-Medium.otf")
        format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("~/assets/fonts/ProximaNova-Semibold.otf")
        format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url("~/assets/fonts/ProximaNova-Bold.otf")
        format("opentype");
}

@font-face {
    font-family: "Tusker";
    font-style: normal;
    font-weight: 500;
    src: url("~/assets/fonts/TuskerGrotesk-2500Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Tusker";
    font-style: normal;
    font-weight: 600;
    src: url("~/assets/fonts/TuskerGrotesk-2600Semibold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Tusker";
    font-style: normal;
    font-weight: 700;
    src: url("~/assets/fonts/TuskerGrotesk-2700Bold.ttf")
        format("truetype");
}
